@using HearstMappingsEditor.Data.Models

<tr class="filters">
    <th class="actions-col"></th>
    <th></th>
    <th><input type="text" class="form-control text-filter text-input perimeter-code" placeholder="Any" data-previous-val=""></th>
    <th><input type="text" class="form-control text-filter text-input perimeter-desc" placeholder="Any" data-previous-val=""></th>
    <th><input type="text" class="form-control text-filter text-input perimeter-currency" placeholder="Any" data-previous-val=""></th>
    <th></th>
</tr>

<tr>
    <th class="actions-col"></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPerimeterSortTypes.PerimeterID)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPerimeterSortTypes.PerimeterCode)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPerimeterSortTypes.PerimeterDesc)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPerimeterSortTypes.PerimeterCurrency)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)DimPerimeterSortTypes.CreateDate)"></span></th>
</tr>