@using HearstMappingsEditor.Models
@using HearstMappingsEditor.Common
@using HearstMappingsEditor.Data.Models

@model ReferencesExtendedFilterableViewModel<DimPLKindViewModel, DimPLKindFilter, DimPLKindRefs>

@{
    ViewBag.Title = "DimPLKind Reference";
    var controller = "DimPLKind";
}

@section filters {
    @{Html.RenderPartial("_Filters", Model.Refs);}
}

@section columnTitles {
    <th>PLKindID</th>
    <th>PLKindName</th>
    <th>PLGroup</th>
}

@section items {
    @{Html.RenderPartial("_List", Model.ReferenceItems);}
}

@section newItemFields {
    @{Html.RenderPartial("_NewItemFields", Model.Refs);}
}

@section refs {
    <select class="filterable-select pl-groups">
        @foreach (var dplg in Model.Refs.DimPLGroups)
        {
            <option value="@dplg.PLGroupID">@dplg.PLGroupName</option>
        }
    </select>
}

@section scripts {
    @Scripts.Render("~/bundles/refs")
    <script>
        var saveUrl = '@(Url.Action("Save", controller))';
        var getListUrl = '@(Url.Action("GetList", controller))';
        var getListItemUrl = '@(Url.Action("GetListItem", controller))';
        var exportUrl = '@(Url.Action("Export", controller))';
        var excelFileName = '@(Constants.ExportToExcelDimPLKindFileName)';
        var initialLoadPageSize = @Model.InitialLoadPageSize;
        var pageSize = @Model.PageSize;
        @(string.IsNullOrEmpty(Model.Error)?"": $"showNotification('Error', '{Model.Error}');")
    </script>
    @Scripts.Render("~/bundles/refs/source/dimPLKind")
}
