@using HearstMappingsEditor.Common
@using HearstMappingsEditor.Models
@using HearstMappingsEditor.Data.Models

@model AccountMappingRefs

<tr class="filters">
    <th class="actions-col"></th>
    <th></th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi dept">
            <option value="null">@Constants.NotSelected</option>
            @foreach (var item in Model.Depts)
            {
                <option value="@item.DeptID">@item.Dept</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi item">
            @foreach (var item in Model.Items)
            {
                <option value="@item.ItemID">@item.UAN</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi account-print-digital">
            @foreach (var item in Model.PrintDigitals)
            {
                <option value="@item">@item</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi account-group">
            @foreach (var item in Model.AccountGroups)
            {
                <option value="@item.AccountGroupID">@item.AccountGroupDesc</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi account">
            @foreach (var item in Model.Accounts)
            {
                <option value="@item.AccountID">@($"{item.AccountCode} ({item.AccountDesc})")</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi product">
            @foreach (var item in Model.Products)
            {
                <option value="@item.ProductID">@($"{item.ProductCode} ({item.ProductDesc})")</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi channel">
            @foreach (var item in Model.Channels)
            {
                <option value="@item.ChannelID">@($"{item.ChannelCode} ({item.ChannelDesc})")</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi sign-mapping">
            @foreach (var item in Model.SignMappings)
            {
                <option value="@item">@item</option>
            }
        </select>
    </th>
    <th>
        <select data-placeholder="Any" class="filterable-select multi sign-pl">
            @foreach (var item in Model.SignPLs)
            {
                <option value="@item">@item</option>
            }
        </select>
    </th>
</tr>

<tr>
    <th class="actions-col"></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.RowId)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.Dept)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.Item)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.PrintDigital)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.AccountGroup)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.Account)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.Product)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.Channel)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.SignMapping)"></span></th>
    <th><span class="sort unsorted" data-sort-type="@((int)AccountMappingSortTypes.SignPL)"></span></th>
</tr>